<div class="container">
  <h1>{{ title }}</h1>
  <div class="category-buttons mb-4">
    <button class="btn btn-primary mr-2" (click)="filterByCategory(0)">All</button>
    <button class="btn btn-primary mr-2" (click)="filterByCategory(1)">Hair</button>
    <button class="btn btn-primary mr-2" (click)="filterByCategory(2)">Skin</button>
    <button class="btn btn-primary mr-2" (click)="filterByCategory(3)">Body</button>
    <button class="btn btn-primary mr-2" (click)="filterByCategory(4)">Digestion</button>
    <button class="btn btn-primary" (click)="filterByCategory(5)">Immunity</button>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let tip of filteredHealthTips">
      <div class="card hover-effect">
        <img class="card-img-top" [src]="tip.HealthTipsimg" [alt]="tip.TipTitle" *ngIf="tip.HealthTipsimg">
        <div class="card-body">
          <h3 class="card-title">{{ tip.TipTitle }}</h3>
          <p class="card-text">{{ tip.TipDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
